<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Login</div>

          <div class="card-body">
            <form method="POST" @submit.prevent="authorize">
              <div class="row mb-3">
                <label
                  for="login"
                  class="col-md-4 col-form-label text-md-end"
                  >login</label
                >

                <div class="col-md-6">
                  <input
                    id="login"
                    type="text"
                    class="form-control"
                    name="login"
                    required
                    autocomplete="login"
                    autofocus
                    @keydown="invalid = false"
                    v-model="login"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <label
                  for="password"
                  class="col-md-4 col-form-label text-md-end"
                  >Password</label
                >

                <div class="col-md-6">
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    required
                    autocomplete="current-password"
                    v-bind:class="{ 'is-invalid': invalid }"
                    @keydown="invalid = false"
                    v-model="password"
                  />

                  <span class="invalid-feedback" role="alert" v-show="invalid">
                    <strong>{{ error }}</strong>
                  </span>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6 offset-md-4">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="remember">
                    <label class="form-check-label" for="remember">Remember Me</label>
                  </div>
                </div>
              </div>

              <div class="row mb-0">
                <div class="col-md-8 offset-md-4">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      login: "",
      password: "",
      remember: false,
      invalid: false,
      error: "",
    };
  },
  methods: {
    authorize() {
      var formData = new FormData();
      formData.append("_token", this.csrf);
      formData.append("login", this.login);
      formData.append("password", this.password);
      formData.append("remember", this.remember);
      this.axios
        .post("/login", formData)
        .then(() => {
          window.location = "/";
        })
        .catch((error) => {
          this.invalid = true;
          this.error = error.response.data.message;
          console.log(error);
        });
    },
  },
};
</script>