<template>
  <AlbumForm title="Create Album" :callback="addAlbum" />
</template>
 
<script>
export default {
  components: {
    AlbumForm: () => import("./Form.vue"),
  },
  methods: {
    addAlbum(album) {
      this.axios
        .post("/api/albums", album)
        .then((response) => this.$router.push({ name: "list" }))
        .catch((err) => console.log(err))
        .finally(() => (this.loading = false));
    },
  },
};
</script>