<template>
  <AlbumForm title="Edit Album" :album="album" :callback="updateAlbum" />
</template>
 
<script>
export default {
  components: {
    AlbumForm: () => import("./Form.vue"),
  },
  data() {
    return {
      album: {},
    };
  },
  created() {
    this.axios.get(`/api/albums/${this.$route.params.id}`).then((res) => {
      this.album = res.data;
    });
  },
  methods: {
    updateAlbum() {
      this.axios
        .patch(`/api/albums/${this.$route.params.id}`, this.album)
        .then((res) => {
          this.$router.push({ name: "list" });
        });
    },
  },
};
</script>