<template>
  <div class="container">
    <h3 class="text-center">{{ title }}</h3>
    <form @submit.prevent="callback(album)">
      <div class="row">
        <div class="col-md-6">
          <SearchBar
            :label="`Artist:`"
            :options="artists"
            :required="true"
            :invalid="invalidArtist"
            v-model="album.artist"
            v-on:keydown="invalidArtist = false; invalidAlbum = false"
            v-on:filter="fetchArtists"
          />
          <SearchBar
            :label="`Album:`"
            :options="albums"
            :required="true"
            :invalid="invalidAlbum"
            v-model="album.name"
            v-on:keydown="invalidArtist = false; invalidAlbum = false"
            v-on:selected="selectedAlbum"
            v-on:filter="fetchAlbums"
          />
          <div class="form-group pt-2">
            <label for="album-description">Description</label>
            <input
              class="form-control"
              type="text"
              v-model="album.description"
            />
          </div>
          <div class="input-group pt-3">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
        <div class="col-md-6">
          <label for="album-cover">Cover</label>
          <div>
            <input type="hidden" v-model="album.cover" value="/images/not-found.png" />
            <img v-if="album.cover" :src="album.cover" />
            <img v-else src="/images/not-found.png" />
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "AlbumForm",
  template: "AlbumForm",
  components: {
    SearchBar: () => import("./SearchBar.vue"),
  },
  props: {
    title: {
      type: String,
      default: "Form title",
      required: false,
    },
    album: {
      type: Object,
      required: false,
      default() {
        return {
          name: "",
          artist: "",
          description: "",
          cover: "",
        };
      },
    },
    callback: {
      type: Function,
      required: true,
    },
  },
  data() {
    this.artistsInFetch = false;
    this.albumsInFetch = false;
    return {
      artists: [],
      albums: [],
      invalidArtist: false,
      invalidAlbum: false,
    };
  },
  methods: {
    fetchArtists(artist) {
      if (this.artistsInFetch || !artist || !artist.length) return;
      this.artistsInFetch = true;
      let url = `/api/lastfm/artist=${artist}`;
      let app = this;
      this.axios.get(url).then((response) => {
        app.artists = response.data;
        app.artistsInFetch = false;
      });
    },
    selectedAlbum(obj) {
      console.log(obj);
      let albumName = this.album.name;
      let artistName = this.album.artist ?? obj.artist;
      let app = this;
      this.axios.get(`/api/lastfm/artist=${artistName}/album=${albumName}`)
        .then(response => {
          console.log(response);
          app.album.name = response.data.name;
          app.album.artist = response.data.artist;
          app.album.cover = response.data.image[3]['#text'];
          app.album.description = response.data.wiki?.content;
        })
        .catch(error => {
          this.invalidArtist = true;
          this.invalidAlbum = true;
        });
    },
    fetchAlbums(album) {
      if (this.albumsInFetch || !album || !album.length) return;
      this.albumsInFetch = true;
      let url = `/api/lastfm/album=${album}`;
      if (this.album.artist) {
        url = `/api/lastfm/albums/top/artist=${this.album.artist}`
      }
      let app = this;
      this.axios.get(url).then((response) => {
        app.albums = response.data;
        app.albumsInFetch = false;
      });
    },
  },
};
</script>