<template>
  <div class="container">
    <h2 class="text-center">Album List</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pt-4">
      <div v-for="album in albums" :key="album.id" class="card shadow-sm">
        <img :src="album.cover" width="100%" />
        <div class="card-body">
          <p class="card-text">Name: {{ album.name }}</p>
          <p class="card-text">Artist: {{ album.artist }}</p>
          <p v-show="album.description" class="card-text">
            Description: <br />
            {{ album.description }}
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="items-group" role="group">
              <router-link
                :to="{ name: 'edit', params: { id: album.id } }"
                class="btn btn-success"
                >Edit</router-link
              >
              <button class="btn btn-danger" @click="deleteAlbum(album.id)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      albums: [],
    };
  },
  created() {
    this.axios.get("/api/albums/").then((response) => {
      this.albums = response.data;
    });
  },
  methods: {
    deleteAlbum(id) {
      this.axios.delete(`/api/albums/${id}`).then((response) => {
        let i = this.albums.map((data) => data.id).indexOf(id);
        this.albums.splice(i, 1);
      });
    },
  },
};
</script>