<template>
  <div class="dropdown" v-if="options">
    <label for="search">{{ label }}</label>

    <input
      class="form-control"
      id="search-input"
      @click="clicked"
      @blur="exit"
      @keydown="updateValue()"
      :class="{ 'is-invalid': invalid }"
      :required="required"
      v-model="inputVal"
      autocomplete="off"
    />

    <div class="dropdown-content" tabindex="-1" v-show="contentShow">
      <div
        class="dropdown-item"
        @mousedown="contentSelect(option)"
        v-for="(option, index) in options"
        :key="index"
      >
        {{ option.name || option.id || "-" }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchBar",
  template: "SearchBar",
  props: {
    label: {
      type: String,
      required: false,
      default: "title",
    },
    options: {
      type: Array,
      required: true,
      default: [],
    },
    value: {
      type: String,
      required: false,
    },
    required: {
      type: Boolean,
      required: false,
      default: false,
    },
    invalid: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      contentShow: false,
      selected: {},
    };
  },
  computed: {
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  },
  methods: {
    clicked() {
      if (this.options.length && this.value !== "") this.contentShow = true;
    },
    exit() {
      this.contentShow = false;
    },
    contentSelect(option) {
      this.selected = option;
      this.contentShow = false;
      this.$emit('input', option.name);
      this.$emit("selected", this.selected);
    },
    updateValue() {
      this.$emit('keydown')
      if (this.value === "") {
        this.selected = {};
        this.contentShow = false;
      }
      this.$emit("filter", this.value);
      if (this.options.length === 0) {
        this.selected = {};
      }
    },
  },
  watch: {
    options() {
      let input = document.getElementById('search-input');
      if (!this.selected.name && document.activeElement === input)
        this.contentShow = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.dropdown {
  position: relative;
  display: block;
  margin: auto;
  .dropdown-content {
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-height: 248px;
    border: 1px solid #e7ecf5;
    box-shadow: 0px -8px 34px 0px rgba(0, 0, 0, 0.05);
    overflow: auto;
    z-index: 100;
    .dropdown-item {
      color: black;
      font-size: 1em;
      line-height: 1em;
      padding: 8px;
      text-decoration: none;
      display: block;
      cursor: pointer;
      &:hover {
        background-color: #e7ecf5;
      }
    }
  }
  .dropdown:hover .dropdowncontent {
    display: block;
  }
}
</style>
